<section id="mark-crane">
  <h1></h1>
  <button type="button" data-use-geolocation="true">Use my Location</button>
  <br />
  <button type="button">Set Location Manually</button>
</section>

<section id="locate">
  <h1>Set the crane location.</h1>
  <button type="button">Save Crane Location</button>
  <div id="map-canvas"></div>
  <input type="hidden" name="latitude" value="">
  <input type="hidden" name="longitude" value="">
</section>

<section id="edit-crane">
  <h1>Crane Saved. Add more details if you want. Or enter your email and I'll buy you a coffee sometime!</h1>
  <form data-abide action="/max/">
    <p>
      <input type="text" name="reporter_email" type="email" value="" placeholder="Your email address." pattern="email">
    </p>

    <p>
      <input type="text" name="title" value="" placeholder="Name that crane.">
    </p>

    <p>
      <textarea name="notes" placeholder="Any other notes..."></textarea>
    </p>

    <button type="submit">Submit Crane Info</button>
  </form>
</section>

<section id="thanks">
  <h1>Thanks!</h1>
  <button type="button">Mark Another Crane</button>
  <a href="/" class="button">Back to All Cranes</a>
</section>

<script>
  $(document).ready(function () {
    hardHat.showState();
    hardHat.initButtons();
  });
  </script>